// +++++++++++++++++++++++++++++++++++++++++++++++
// GENERAL,
// VARIABLES
// +++++++++++++++++++++++++++++++++++++++++++++++
.hero {
	align-content: center;
    background-image: url("https://www.transparenttextures.com/patterns/arches.png");
    display: flex;
    height: 600px;
    justify-content: center;
    max-width: 100%;
    padding: 50px;
    text-align: center;
    width: 100%;

    img {
    	display: block;
    	height: 350px;
        width: 900px;
    }
}
