* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

p, a, span, div {
  color: #2c3e50;
  font-family: 'Barlow', sans-serif;
}

h1, h2, h3, h4, h5, h6 {
  color: #2c3e50;
  font-family: 'Merriweather', serif;
}

a {
  color: inherit;
  text-decoration: none;
}

/* NAVBAR */

.navbar {
  -webkit-box-shadow: 0 0 5px 0 #ccc;
  box-shadow: 0 0 5px 0 #ccc;
  height: 60px;
  width: 100%;
}

.navbar__bar {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-flow: row nowrap;
  flex-flow: row nowrap;
  height: 100%;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 100%;
}

.navbar__links {
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  background-color: #ffbe76;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  position: relative;
  width: 40%;
  z-index: 0;
}

.navbar__links:after {
  background-color: #ffeaa7;
  height: 8px;
  content: '';
  position: absolute;
  width: 100%;
  z-index: -1;
  bottom: -5px;
  left: 0;
}

.navbar__activate-dropdown {
  padding: 18px 60px;
}

.navbar__link-item {
  font-weight: 900;
  display: block;
  padding: 20px 40px;
  text-align: center;
  transition-duration: 0.5s;
}

.navbar__link-item:hover {
  background-color: #ffeaa7;
}

.navbar__dropdown {
  background-color: #ffbe76;
  -webkit-box-shadow: 0px 15px 10px -15px #aaa;
          box-shadow: 0px 15px 10px -15px #aaa;
  display: none;
  position: absolute;
  width: 100%;
}

.navbar__social-media {
  display: flex;
  width: 100%;
  justify-content: center;
}

.social-media-link {
  width: 20px;
  height: 20px;
}



/* GALLERY SECTION */
.gallery_row {
  display: flex;
  flex-wrap: wrap;
  margin: 5px 0 40px 0;
  padding: 0 3px;
}

.gallery_row .gallery_column {
  flex: 33.333%;
  max-width: 33.333%;
  padding: 0 3px;
}

.gallery_row .gallery_column img {
  margin-top: 5px;
  vertical-align: middle;
  width: 100%;
}

@media screen and (min-width: 0px) and (max-width: 600px) {
  .gallery_column {
    flex: 100% !important;
    max-width: 100% !important;
  }
}

@media screen and (min-width: 600px) and (max-width: 800px) {
  .gallery_column {
    flex: 50% !important;
    max-width: 50% !important;
  }
}


/* Footer */
footer {
  position: fixed;
  display: block;
  bottom: 0;
  width: 100%;
  height: 30px;
}

footer p {
  text-align: center;
}
